# Prerequisites
*.d
2DGames\libs\*.*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual studio files
*.vs/
2DGames/libs/assimp-vc140-mt.exp
2DGames/libs/assimp-vc140-mt.ilk
2DGames/libs/assimp-vc140-mt.pdb
